include README.md *.txt seesaw/public/index.html seesaw/public/*.js seesaw/public/*.css seesaw/templates/*.html
recursive-include doc *.py *.rst Makefile *.bat
recursive-include tests *.py
recursive-include examples *.py