include README.md *.txt seesaw/public/index.html seesaw/public/*.js seesaw/public/*.css seesaw/templates/*.html seesaw/public/*.png
recursive-include doc *.py *.rst Makefile *.bat
recursive-include tests *.py
recursive-include examples *.py
recursive-include seesaw *.py
include run-pipeline run-pipeline[23]
include run-warrior run-warrior[23]

